@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

@import "tailwindcss";

:root {
  font-family: "Inter", sans-serif;

  color: #10172b;
  background: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;

  font-family: "Inter", sans-serif;

  background: #ffffff;
}

a {
  text-decoration: none;
}

button,
a {
  font-family: inherit;
}

::selection {
  background: #ddd6fe;
  color: #312e81;
}